<template name="Parkings">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ParkingsView}}
	</div>
</template>

<template name="ParkingsView">
	<div id="parkings-view" class="">
		<h3 id="component-title">
			Parkings Live Status
		</h3>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ParkingsViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No parkings :(
		</div>
		{{/if}}
	</div>
</template>

<template name="ParkingsViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="_id">
					Id
				</th>
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="device">
					Device
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th>
					
				</th>
				<th>
					Manual Overide
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ParkingsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ParkingsViewTableItems">
	<tr id="dataview-table-items-row" class="{{statusColor status}}">
		<td>
			<span style="font-size: 16px;">{{_id}}</span>
		</td>
		<td>
			<span style="font-size: 16px;">{{lot}}</span>
		</td>
		<td>
			<span style="font-size: 16px;">{{device}}</span>
		</td>
		<td>
			<span style="font-size: 16px;">{{statusText status}}</span>
		</td>
		<td>
			<i class="fa fa-car fa-3x {{statusColor status}}" aria-hidden="true"></i>
		</td>
		<td>
			{{#if statusChk status "0"}}
				<a href="#" class="assign-button btn btn-warning btn-xs">Assign</a>
				<a href="#" class="fill-button btn btn-danger btn-xs">Full</a>
			{{/if}}
			{{#if statusChk status "1"}}
				<a href="#" class="free-button btn btn-success btn-xs">Free&nbsp;&nbsp;&nbsp;</a>
				<a href="#" class="assign-button btn btn-warning btn-xs">Assign</a>
			{{/if}}
			{{#if statusChk status "2"}}
				<a href="#" class="free-button btn btn-success btn-xs">Free&nbsp;&nbsp;&nbsp;</a>
				<a href="#" class="fill-button btn btn-danger btn-xs">Full&nbsp;&nbsp;</a>
			{{/if}}			
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

